* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: 
    "left header" 15vh
    "left main" 70vh
    "left footer" 15vh / 1fr 2fr;

    a {
        text-decoration: none;
        color: #000;
        padding: 12px;
        background: darkmagenta;
        margin: 0 5px;
    }

    & > * {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left {
        grid-area: left;
        background: green;
    }

    .header {
        background: orange;
        font-size: 2em;
        font-weight: bold;
    }

    .main {
        background: crimson;

        table {
            background: #fff;
        }

        table,tr,th,td {
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 5px;
        }
    }

    .footer {
        background: darkkhaki;
    }
}